[Unit]
Description=Remove outdated weather forecasts

[Service]
Type=oneshot
User=weather
CacheDirectory=weather
ExecStart=/usr/bin/find $CACHE_DIRECTORY -mindepth 1 -atime +30 -print -delete
IOSchedulingClass=idle
